# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
# *.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

implémentation/Test/parcours.txt
implémentation/Test/parcours_arbre.txt
implémentation/Test/parcours_best.txt
implémentation/Test/result.txt
implémentation/Test/test.txt
